.DS_Store
*.DS_Store
dist
*dist
dist/*
dist-ssr
*dist-ssr
.local
*.local
.vscode
*.vscode
.idea
*.idea
# Binaries for programs and plugins
main.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
# Dependency directories (remove the comment below to include it)
# vendor/ 

*.log
*tmp

*data*
*data/*
dist/
